<?xml version="1.0" encoding="utf-8" ?>
 <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">
 
   <extensions>
     <add assembly="NLog.Web.AspNetCore"/>
   </extensions>
   
   <targets>
     <target xsi:type="File" name="File" fileName="/home/logs/dom.dev/${shortdate}.log"
             layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString}|${aspnet-request-method}|${aspnet-request-url}" />
   </targets>
    
   <rules>
     <logger name="Microsoft.AspNetCore.HttpLogging.*"  minlevel="Debug" writeTo="File" />
     <logger name="Microsoft.*" maxlevel="Error" final="true" />
     <logger name="*" minlevel="Debug" writeTo="File" />
     
   </rules>
 
</nlog>